- name: tags-block
  tags: hypervisor
  block:

    - name: import tasks from libvirt.yml
      import_tasks: libvirt.yml
      tags: hypervisor_libvirt
      when: import_hypervisor_libvirt and 'libvirt' in hypervisor_types

    - name: import tasks from hugepages.yml
      import_tasks: hugepages.yml
      tags: hypervisor_hugepages
      when: import_hypervisor_hugepages

    - name: import tasks from bootstrap.yml
      import_tasks: bootstrap.yml
      tags: hypervisor_bootstrap
      when: import_hypervisor_bootstrap

    - name: import tasks from incus.yml
      import_tasks: incus.yml
      tags: hypervisor_incus
      when: import_hypervisor_incus and 'incus' in hypervisor_types
